<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/student.css">
    <title>Clickable Boxes</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <a href="#" class="box-link">
        <div class="box" id="myDiv" onclick="checkforcreditsadd()">
            <h2>Add Courses</h2>
        </div>
    </a>
    <a href="#" class="box-link">
        <div class="box" id="myDiv" onclick="showcourses()">
            <h2>View Grades</h2>
        </div>
    </a>
    <a href="#" class="box-link">
        <div class="box" id="myDiv" onclick="showenrolledcourses()">
            <h2>View Enrolled Courses</h2>
        </div>
    </a>
    <a href="#" class="box-link">
        <div class="box" id="myDiv" onclick="checkforcreditsdrop()">
            <h2>Drop Courses</h2>
        </div>
    </a>
    <script src="../scripts/student.js"></script>
</body>
 
</html>
